<nav id="main-nav">
  <div class="toggle-nav">
    <i class="fa fa-bars sidebar-bar"></i>
  </div>
  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm pixelstrap sm-horizontal">
    
    <li>
      <div class="mobile-back text-right">
        Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
      </div>
    </li>
    <li>
      <a [routerLink]="['/home']">
        Pagrindinis
      </a>    
    </li>
    <li>
      <a [routerLink]="['/contact']">
        Kontaktai
      </a>    
    </li>
    <li class='has-submenu'>
      <a href="javascript:void(0)">
        Administracija
     </a>
      <ul>
        <li>
            <a [routerLink]="'/profit-chart'" >
                Pajamos
             </a>
        </li>
        <li>
            <a [routerLink]="'/expenses-chart'" >
                Išlaidos
             </a>
        </li>
        <li>
          <a [routerLink]="'/products-list'">
            Įranga
          </a>
        </li>
        <li>
          <a [routerLink]="'/all-orders-view'">
            Visi užsakymai
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
