<div class="card mb-4">
  <!-- <div class="card-title">
      <a [routerLink]="['/products/', product.id]" >{{ product.type}}</a>  
  </div> -->
  <div class="card-content-wrapper">
      {{ product.name }}
  </div>
  <img class="card-img-top" src="{{product.photos[0].url}}" alt="{{product.name}}">
  <div>
    <h6 class="card-email text-center mb-1"><i class="fa fa-user"></i>
      {{ product.description}} <br/>      
    </h6>
  </div>
  <div class="text-center" style="margin-bottom: 10px;">
    <button class="btn btn-secondary"  (click)="deleteproduct(product.id)"><i class="fa fa-trash"></i></button>
 </div>
</div>