<div class="row" >
    <div class="col-lg-6">
      <div class="header-contact">
        <ul>
          <li>Sveiki!</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>Susisiekite: +370 63977377</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 text-right" *ngIf="isLoggedIn; else elseBlock">
      <ul class="header-dropdown">
        <li class="onhover-dropdown mobile-account">
          
          <i class="fa fa-user" aria-hidden="true"></i> {{ userName }}
          <ul class="onhover-show-div">
            <li>
              <a [routerLink]="'/myorders'" data-lng="en">
                  Mano užsakymai
              </a>
            </li>
            <li>
              <a (click)="logout()" data-lng="es">
                  Atsijungti
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <ng-template #elseBlock>
        <div class="col-lg-6 text-right">
            <ul class="header-dropdown">
              <li class="onhover-dropdown mobile-account">
                
                <i class="fa fa-user" aria-hidden="true"></i> Mano paskyra
                <ul class="onhover-show-div">
                  <li>
                    <a [routerLink]="'/login'" data-lng="en">
                      Prisijungti
                    </a>
                  </li>
                  <li>
                    <a (click)="logout()" data-lng="es">
                        Atsijungti
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
    </ng-template>

</div>





