
.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.card-content-wrapper {
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}
.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}
.card-title {
    height: 45px;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;

}

.card {
    height: 300px;
}
.card-email {
    font-size: 8pt;
}