<div class="card mb-4">
    <!-- <div class="card-title">
        <a [routerLink]="['/expenses/', expense.id]" >{{ expense.type}}</a>  
    </div> -->
    <div class="card-content-wrapper">
        {{ expense.type }}
    </div>
    <div>
      <h6 class="card-email text-center mb-1"><i class="fa fa-user"></i>
        {{ expense.description}} <br/>
        <span>{{expense.dateCreated | timeAgo }}</span>
        
      </h6>
    </div>
    <div class="text-center" style="margin-bottom: 10px;">
      <button class="btn btn-secondary"  (click)="deleteExpense(expense.id)"><i class="fa fa-trash"></i></button>
   </div>
  </div>