<div class="img-wrapper">
    <div class="front">
        <a [routerLink]="['/accordian/product', product.id]"><img [src]="product.photos[0].url" class="img-fluid" alt=""></a>
    </div>
    <div class="cart-info cart-wrap" *ngIf="!productsService?.catalogMode">

        <a  [routerLink]="" [attr.data-target]="'#quick-view'+product.id" data-toggle="modal" class="mobile-quick-view" title="Quick View">
        	<i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </div>
    <div class="quick-view-part">
        <a [routerLink]="" [attr.data-target]="'#quick-view'+product.id" data-toggle="modal" title="Quick View">
        	<i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="product-info">
    <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    <a [routerLink]="['/home/accordian/product', product.id]">
    	<h6>{{product.name}}</h6>
    </a>
    <h4>{{product.priceForWeek}} €</h4>
</div>