<!-- <div>
  <div class="row justify-content-center">
    <div *ngFor="let product of products" class="col-lg-2 col-md-3 col-sm-6">
      <app-product-card [product]="product" (getProductsChange)="loadProducts($event)"></app-product-card>
    </div>
  </div>
</div> -->
<ul *ngIf="products">
  <li *ngFor="let product of products">
    <img [src]="product.photos[0].url">
    <p>{{ product.name }} ( {{ product.groupCode }} )</p>
  </li>
</ul>
<div class="d-flex justify-content-center mb-2">
<pagination [boundaryLinks]="true" 
[totalItems]= "pagination.totalItems"
[(ngModel)]="pagination.currentPage"
[itemsPerPage]="pagination.itemsPerPage"
(pageChanged)="pageChanged($event)"
previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>