<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Ačiū!</h2>
                    <p>Užsakymas sėkmingai priimtas, su jumis susisieksime per 24h.</p>
                    <p>Užsakymo numeris: TRX0005182</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <div>
                        <a href="javascript:window.print()"><i class="fa fa-print" style="font-size: 24px;" aria-hidden="true"></i></a>

                    </div>
                    <h3>Užsakymas</h3>
                    <div class="row product-order-detail" *ngFor="let item of checkOutItems">
                        <div class="col-3">
                            <img [src]="item.product.photos[0].url" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4> Produktas </h4>
                                <h5>{{ item.product.name }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4> Kiekis </h4>
                                <h5> {{ item.assetsCount }} </h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Kaina </h4>
                                <h5> {{ item.totalPrice | number: '1.2-2' }} € </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-12">
                            <div class="delivery-sec">
                            <h3>Numatoma pristatymo data:</h3>
                            <h2>{{ tomorrowDate | date:'yyyy-MM-dd'}} </h2>
                            </div>
                    </div>
                    <br/>
                    <div class="col-sm-12">
                        <h4>Informacija</h4>
                        <ul class="order-detail" style="text-align: center;">
                            <li>Numeris: TRX0005182 </li>
                            <li>Data: {{ myDate | date:'yyyy-MM-dd'}}                                </li>
                            <li>Suma:  {{ totalSum | number: '1.2-2'}} € </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->