<!-- banner section start -->
<section class="p-t-0 section-b-space">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a [routerLink]="'/home/left-sidebar/collection/marijuana'">
                    <div class="collection-banner p-left text-center">
                        <img src="assets/images/marijuana/banner/bnr1.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4 style="color: white">50% Nuolaida</h4>
                                <h3 style="color: white">Kameroms</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="'/home/left-sidebar/collection/marijuana'">
                    <div class="collection-banner p-right text-center">
                        <img src="assets/images/marijuana/banner/bnr2.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4 style="color: white">20% Nuolaida</h4>
                                <h3 style="color: white">Paspirtukams</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->