<!-- banner section start -->
<section class="p-t-0 section-b-space">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a [routerLink]="'/home/left-sidebar/collection/marijuana'">
                    <div class="collection-banner p-left text-center">
                        <img src="assets/images/marijuana/banner/4.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>50% {{'discount-off' | translate }}</h4>
                                <h3>{{'for-cameras' | translate }}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="'/home/left-sidebar/collection/marijuana'">
                    <div class="collection-banner p-right text-center">
                        <img src="assets/images/marijuana/banner/2.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>20% {{'discount-save' | translate}}</h4>
                                <h3>{{'for-scooters' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->