 
<div></div>
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-lg-9" style="text-align: start">
                        <div style="display: inline-block">
                                &nbsp; <img [src]="assetInfo.photoUrl">
                        </div>
                        <div style="display: inline-block;">
                            <h4 class="title-2">&nbsp;&nbsp;{{ assetInfo.productName }} ( {{ assetInfo.assetCode }} )</h4>
                        </div>
                    </div>
                    <div class="col-lg-3" style="text-align: right;">
                        <button class="au-btn au-btn-icon au-btn--blue">
                        <i class="zmdi zmdi-plus"></i>Pridėti išlaidą</button>
                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-itemc1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-pie-chart"></i>        
                                    </div>
                                    <div class="text">
                                        <span class="box-header">€ {{ assetInfo.profitSum | number: '1.2-2' }} <i class="fal fa-analytics"></i></span> <br/>
                                        <span>Uždirbta</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </div>
                                    <div class="text">
                                        <span class="box-header">€ {{ assetInfo.expensesSum | number: '1.2-2' }} </span> <br/>
                                        <span>Išleista</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="text">
                                        <span class="box-header">{{ assetInfo.payOffPercent | number: '1.2-2' }} % </span> <br/>
                                        <span>Atsipirko</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c4">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <div class="text">
                                        <span class="box-header">{{ assetInfo.isAdvertismentNeeded ? 'Taip' : 'Ne' }}</span> <br/>
                                        <span>Ar reikalinga reklama?</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Užsakymai</h2>
                        <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th>Data nuo - iki</th>
                                        <th>Užsakymo kodas</th>
                                        <th>Būsena</th>
                                        <th>Suma</th>
                                      </tr>
                                    </thead>
                                </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr *ngFor="let order of assetOrders" class="tr-border-bottom">
                                    <td>{{ order.dateFrom | date }} - {{ order.dateTo | date}}</td>
                                    <td>{{ order.orderCode }} </td>
                                    <td class="bold-column">{{ order.orderState }}</td>
                                    <td>{{ order.totalSum | number : '1.2-2' }} €</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                              <pagination [boundaryLinks]="true" 
                              [totalItems]= "pagination.totalItems"
                              [(ngModel)]="pagination.currentPage"
                              [itemsPerPage]="pagination.itemsPerPage"
                              (pageChanged)="pageChanged($event)"
                              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                              </pagination>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="title-1 m-b-25">Išlaidos</h2>
                        <div class="au-card  m-b-40">
                            <div>
                                <div class="table-responsive">
                                    <table class="table-top-countries">
                                        <tbody>
                                            <tr>
                                                <td>Facebook</td>
                                                <td class="text-right">€ 25.55</td>
                                            </tr>
                                            <tr>
                                                <td>Instagram</td>
                                                <td class="text-right">€ 26.66</td>
                                            </tr>
                                            <tr>
                                                <td>Kita</td>
                                                <td class="text-right">€ 15.55</td>
                                            </tr>
                                            <tr>
                                                <td>Kita</td>
                                                <td class="text-right">€ 12.55</td>
                                            </tr>
                                            <tr>
                                                <td>Facebook</td>
                                                <td class="text-right">€ 99.95</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

