<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" [id]="'quick-view'+product.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let product of products">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content quick-view-modal">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-lg-6  col-xs-12">
            <div class="quick-view-img">
              <img [src]="!variantImage ? product.photos[0] : variantImage" alt="" class="img-fluid">
             </div>
            </div>
            <div class="col-lg-6 rtl-text">
              <div class="product-right">
                <h2>{{product.name}}</h2>
                <h3>{{product.priceForDay * 1.2 | number : '1.2-2' }} <del><span class="money">{{product.priceForDay | number: '1.2-2'}}</span></del> </h3>
                <div class="border-product">
                  <h6 class="product-title">{{'product-details' | translate}}</h6>
                  <p>{{product.description}}</p>
                </div>
                <div class="product-buttons">
                  <a [routerLink]="['/accordian/product', product.id]" class="btn btn-solid">{{'view-detail' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick-view modal popup end-->
