<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Vartotojo prisijungimas</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">Pagrindinis</a></li>
                        <li class="breadcrumb-item active" >Prisijungti</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngIf="!isLoggedIn">
                <h3>Prisijungti</h3>
                <div class="theme-card">
                    <form class="theme-form" #loginForm="ngForm" (ngSubmit)="login()" >
                        <div class="form-group">
                            <label for="email">Prisijungimo vardas</label>
                            <input class="form-control" type="text" name="username"
                            placeholder="Prisijungimo vardas" required [(ngModel)]="model.username">
                        </div>
                        <div class="form-group">
                            <label for="review">Slaptažodis</label>
                            <input  class="form-control" type="password" name="password"
                            required [(ngModel)]="model.password"id="review" placeholder="Įveskite slaptažodį">
                        </div>
                        <button [disabled]="!loginForm.valid" class="btn btn-solid">Prisijungti</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Naujas vartotojas</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Sukurti paskyrą</h6>
                    <p>Susikurkite nemokamą paskyrą mūsų puslapyje. Registracija greita ir paprasta. Tai leis jums pateikti užsakymus mūsų platformoje. Norint pradėti nuomuotis spauskite "Registruotis".</p>
                    <button class="btn btn-solid">Registruotis</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->