 <div class="controles-container">
        <div class="autocomplete">
          <ng-multiselect-dropdown
            [placeholder]="'Pasirinkite įrangą'"
            [data]="myOptions"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
      <mat-form-field>
        <input [(ngModel)]='expenseDate' matInput [matDatepicker]="picker" placeholder="Išlaidos data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="type">
          <mat-radio-group [(ngModel)]="type">
            <mat-radio-button value="1">Facebook</mat-radio-button> &nbsp;  &nbsp; 
            <mat-radio-button value="2">Instagram</mat-radio-button> &nbsp;  &nbsp; 
            <mat-radio-button value="3">Kita</mat-radio-button>
          </mat-radio-group>
      </div>
      <mat-form-field>
        <input [(ngModel)]="amount"  matInput placeholder="Suma"> €
    </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="addExpense()">Pridėti</button>
        </div>
      </div>
