<!-- section start -->
<section class="section-b-space detail-cannabis bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>Ataskaita</p>
                        <p>2019-05-20 12:00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>Katedrinis</p>
                        <p>2019-05-28 15:00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>Viešas</p>
                        <p>2019-06-04 15:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->