<!-- section start -->
<section class="section-b-space detail-cannabis bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>{{'inforamtion-header-one' | translate}}</p>
                        <p>{{'inforamtion-box-one' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>{{'inforamtion-header-two' | translate}}</p>
                        <p>{{'inforamtion-box-two' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail_section">
                    <div>
                        <p>{{'inforamtion-header-three' | translate}}</p>
                        <p>{{'inforamtion-box-three' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->