<!-- About section start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h4>Apie mus</h4>
                    <h2 class="title-inner3">Sveiki atvykę į MaxRent!</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>IFF - 5/7 Egidijus Brazaitis</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About section end -->